{% extends "layout.html" %}

{% block title %}
    Sale
{% endblock %}

{% block main %}
    <h2>Sale</h2>
    <form action="/sell", method="post">
        <select name ="symbol">
            {% for symbol in symbols %}
            <option> {{ symbol["symbol"] }} </option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus name="shares" placeholder="Enter shares" type="number" min="1">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}